/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

:root {
    --accent: #177980;
    --accent-light: #379aa7;
    --pure-white: #ffffff;
}


/* //////////////////////////////////////////////////// */

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.bg-color-blue {
    background-color: var(--accent);
}

.bg-color-white {
    background-color: var(--pure-white);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.padding {
    padding: 90px 0;
}

.padding-top {
    padding: 50px 0 0 0;
}


/* .header-navigation {
    position: fixed;
    width: 100%;
} */

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.menu2 {
    justify-content: center;
}

.menu-link {
    padding: 10px 14px;
    color: var(--pure-white);
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: normal;
}

.menu-link:hover {
    padding: 29.5px 14px;
    background-color: var(--accent-light);
    transition: background-color 0.4s;
}

.header-logo {
    font-size: 18px;
    color: var(--pure-white);
    /* padding-right: 300px; */
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.section-texts {
    color: var(--accent);
}

.section-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.center {
    text-align: center;
}

.section-subtitle {
    /* text-align: center; */
    padding: 26px 0;
    font-size: 20px;
    font-weight: bolder;
}

.section-text {
    width: 500px;
    font-size: 16px;
    line-height: 16px;
}

.section-img {
    width: 300px;
    border-radius: 50%;
    border: solid 4px var(--accent);
}

.white {
    color: var(--pure-white);
}

.blue {
    color: var(--accent);
}

.gap {
    gap: 15px;
}

.skills-menu-item {
    padding: 10px 16px;
    border-radius: 5px;
    background-color: var(--accent-light);
    color: var(--pure-white);
    font-size: 16px;
    line-height: 15px;
    font-weight: normal;
}

.example {
    margin: 0 auto;
    width: 500px;
    color: var(--pure-white);
    background-color: var(--accent);
    border-radius: 10px;
}

.section-text-task {
    text-align: center;
}

.section-text-task b {
    font-weight: bolder;
    color: var(--accent);
}

.section-text-task i {
    font-style: italic;
    font-weight: 500;
    color: var(--accent);
}

.contact {
    color: var(--pure-white);
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    font-size: 18px;
}

.contact p {
    padding: 20px 0 0 0;
}

.portfolio-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.portfolio-menu-item {
    border-radius: 10px;
    /* background-color: var(--accent-light); */
    text-align: center;
    padding-bottom: 15px;
    border: 2px solid var(--pure-white);
    overflow: hidden;
}

.item-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.item-title {
    padding-top: 1em;
    margin-bottom: 2em;
    font-size: 16px;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
}

.item-link {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    color: var(--accent);
    background-color: var(--pure-white);
    border: 2px solid var(--pure-white);
    font-weight: 600;
}

.item-link:hover {
    color: var(--pure-white);
    background-color: var(--accent);
    border: 2px solid var(--pure-white);
    font-weight: 600;
}